span {
    font-weight: bold;
    background: whitesmoke;
    padding: .3em .8em;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.play-container {
    padding: 3em;
    border: 1px solid whitesmoke;
    margin-bottom: 1em;
    border-radius: 5px;

    input {
        padding: 1em;
        margin-bottom: 2em;
        border-radius: 5px;
    }
}

.active {
    background-color: teal;
    border: 4px solid black;
    color: white;
}

.notactive {
    background-color: whitesmoke;
    color: black
}
